# SPDX-License-Identifier: GPL-2.0-only
# AeroSync root Kconfig script

mainmenu "AeroSync Kernel Configuration"

source "arch/Kconfig"
source "lib/Kconfig"
source "mm/Kconfig"
source "aerosync/Kconfig"
source "kconfig/compatability/Kconfig"
source "kconfig/miscellaneous/Kconfig"

