# SPDX-License-Identifier: GPL-2.0-only

menu "drm"

config EXT_DRM_RENDERER
    bool "Enable a DRM renderer"
    depends on FB_REQUEST
    default y
    help
      Requests a simple linear framebuffer for simple rendering

endmenu