# SPDX-License-Identifier: GPL-2.0-only

menu "miscellaneous"

config INCLUDE_MM_TESTS
    bool "Include memory tests"
    default y
    help
      Include memory-related stress tests (only enable on verbose boot)

config ACPI_POWER_BUTTON
    bool "Enable and configure power button"
    default y
    help
      Enables support for power button through uACPI

config ACPI_SLEEP_BUTTON
    bool "Enable and configure sleep button"
    default y
    help
      Enables support for sleep button through uACPI

config INCLUDE_DEPRECATED_CODE
    bool "Include deprecated code"
    default n
    help
      Include deprecated code for compilation,
      may result in various warnings

config IMPLICIT_FD12_STDOUT_STDERR
    bool "Enable implicit paths for FD1/2 on write()"
    default n
    help
      Enables implicit path for FD1/2 on write()
      e.g., writing to a specific device

choice
    prompt "FD1/2 actions"
    default IMPLICIT_FD12_STDOUT_STDERR_PRINTK
    depends on IMPLICIT_FD12_STDOUT_STDERR
    help
      Select the behaviour of write() to FD1/2

config IMPLICIT_FD12_STDOUT_STDERR_PRINTK
    bool "Redirect FD1/2 to printk on write()"
    help
      Redirect write() with FD1/2 to printk

endchoice

endmenu
