# SPDX-License-Identifier: GPL-2.0-only

menu "acpi"

config ACPI_POWER_KERNEL_DEINITIALIZE
    bool "Enable shutdown sequence"
    default n
    help
      Enables graceful shutdown and rollbacks

config ACPI_DEBUG_OUTPUT
    bool "Enable debug output"
    default n
    help
      Make ACPICA more talkative

config ACPI_OSI_HANDLER
    bool "Enable custom OSI handler"
    default n
    help
      Install custom ACPICA OSI handler

config DENY_LINUX_OSI
    bool "Deny Linux OSI"
    default y
    depends on ACPI_OSI_HANDLER
    help
      Deny Linux support in OSI handler
      making firmwares behaves 'better'

endmenu