# SPDX-License-Identifier: GPL-2.0-only

menu "compatability"

config SPINLOCK_LINUX_COMPAT
    bool "Enable common Linux macros/methods for spinlock"
    default y
    help
      Enables Linux-style spinlock definitions

config ATOMIC_LINUX_COMPAT
    bool "Enable common Linux atomic-related macros/methods"
    default y
    help
      Enables Linux-style atomic operations

endmenu