# SPDX-License-Identifier: GPL-2.0-only

menu "block"

config BLOCK_PARTITION
    bool "Enable support for partitions"
    default y
    help
      Enable partitions support for block devices

config EXT_IDE_ATA
    bool "Enable support for IDE/ATA drives"
    default y
    help
      Compiles driver for IDE/ATA block storage

endmenu